// Poppins Font Face Definitions (Local)
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Font Families
$font-poppins: Poppins, sans-serif;
$font-playerfair: Playerfair, sans-serif;

// Font Sizes
$text-10: 10px;
$text-12: 12px;
$text-13: 13px;
$text-14: 14px;
$text-15: 15px;
$text-16: 16px;
$text-17: 17px;
$text-18: 18px;
$text-20: 20px;
$text-24: 24px;
$text-30: 30px;
$text-32: 32px;
$text-33: 33px;
$text-35: 35px;
$text-40: 40px;
$text-44: 44px;
$text-49: 49px;
$text-59: 59px;

// Font Weights
$font-400: 400;
$font-500: 500;
$font-700: 700;

// Line Heights
$leading-10: 10px;
$leading-13: 13px;
$leading-14: 14px;
$leading-16: 15.86px;
$leading-16: 16px;
$leading-17: 17.08px;
$leading-18: 18px;
$leading-18: 18.3px;
$leading-20: 19.52px;
$leading-20: 20px;
$leading-21: 20.74px;
$leading-22: 21.96px;
$leading-24: 24px;
$leading-24: 24.4px;
$leading-29: 29.28px;
$leading-30: 30px;
$leading-37: 36.6px;
$leading-39: 39.04px;
$leading-43: 42.7px;
$leading-44: 44px;
$leading-49: 48.8px;
$leading-62: 61.6px;

// Typography Utility Mixins - Combine as needed

@mixin font-poppins {
  font-family: $font-poppins;
}

@mixin text-10 {
  font-size: $text-10;
}

@mixin text-12 {
  font-size: $text-12;
}

@mixin text-13 {
  font-size: $text-13;
}

@mixin text-14 {
  font-size: $text-14;
}

@mixin text-15 {
  font-size: $text-15;
}

@mixin text-16 {
  font-size: $text-16;
}

@mixin text-17 {
  font-size: $text-17;
}

@mixin text-18 {
  font-size: $text-18;
}

@mixin text-20 {
  font-size: $text-20;
}

@mixin text-24 {
  font-size: $text-24;
}

@mixin text-30 {
  font-size: $text-30;
}

@mixin text-32 {
  font-size: $text-32;
}

@mixin text-33 {
  font-size: $text-33;
}

@mixin text-35 {
  font-size: $text-35;
}

@mixin text-40 {
  font-size: $text-40;
}

@mixin text-44 {
  font-size: $text-44;
}

@mixin text-49 {
  font-size: $text-49;
}

@mixin text-59 {
  font-size: $text-59;
}

@mixin font-400 {
  font-weight: $font-400;
}

@mixin font-500 {
  font-weight: $font-500;
}

@mixin font-700 {
  font-weight: $font-700;
}

@mixin leading-10 {
  line-height: $leading-10;
}

@mixin leading-13 {
  line-height: $leading-13;
}

@mixin leading-14 {
  line-height: $leading-14;
}

@mixin leading-16 {
  line-height: $leading-16;
}

@mixin leading-16 {
  line-height: $leading-16;
}

@mixin leading-17 {
  line-height: $leading-17;
}

@mixin leading-18 {
  line-height: $leading-18;
}

@mixin leading-18 {
  line-height: $leading-18;
}

@mixin leading-20 {
  line-height: $leading-20;
}

@mixin leading-20 {
  line-height: $leading-20;
}

@mixin leading-21 {
  line-height: $leading-21;
}

@mixin leading-22 {
  line-height: $leading-22;
}

@mixin leading-24 {
  line-height: $leading-24;
}

@mixin leading-24 {
  line-height: $leading-24;
}

@mixin leading-29 {
  line-height: $leading-29;
}

@mixin leading-30 {
  line-height: $leading-30;
}

@mixin leading-37 {
  line-height: $leading-37;
}

@mixin leading-39 {
  line-height: $leading-39;
}

@mixin leading-43 {
  line-height: $leading-43;
}

@mixin leading-44 {
  line-height: $leading-44;
}

@mixin leading-49 {
  line-height: $leading-49;
}

@mixin leading-62 {
  line-height: $leading-62;
}
